<template>
  <a-card :bordered="false">

    <!-- 查询区域 -->
    <div class="table-page-search-wrapper">
      <a-form layout="inline">
        <a-row :gutter="24">

          <a-col :md="6" :sm="8">
            <a-form-item label="人员编号">
              <a-input placeholder="请输入人员编号" v-model="queryParam.userNo"></a-input>
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="8">
            <a-form-item label="人员姓名">
              <a-input placeholder="请输入人员姓名" v-model="queryParam.userName"></a-input>
            </a-form-item>
          </a-col>
        <template v-if="toggleSearchStatus">
        <a-col :md="6" :sm="8">
            <a-form-item label="卡号">
              <a-input placeholder="请输入卡号" v-model="queryParam.cardCode"></a-input>
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="8">
            <a-form-item label="所属部门编号">
              <a-input placeholder="请输入所属部门编号" v-model="queryParam.orgCode"></a-input>
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="8">
            <a-form-item label="职务编号">
              <a-input placeholder="请输入职务编号" v-model="queryParam.dutyCode"></a-input>
            </a-form-item>
          </a-col>
          </template>
          <a-col :md="6" :sm="8" >
            <span style="float: left;overflow: hidden;" class="table-page-search-submitButtons">
              <a-button type="primary" @click="searchQuery" icon="search">查询</a-button>
              <a-button type="primary" @click="searchReset" icon="reload" style="margin-left: 8px">重置</a-button>
              <a @click="handleToggleSearch" style="margin-left: 8px">
                {{ toggleSearchStatus ? '收起' : '展开' }}
                <a-icon :type="toggleSearchStatus ? 'up' : 'down'"/>
              </a>
            </span>
          </a-col>

        </a-row>
      </a-form>
    </div>

    <!-- 操作按钮区域 -->
    <div class="table-operator">
      <a-button @click="handleAdd" type="primary" icon="plus">新增</a-button>
      <a-button type="primary" icon="download" @click="handleExportXls('人员信息')">导出</a-button>
      <a-upload name="file" :showUploadList="false" :multiple="false" :headers="tokenHeader" :action="importExcelUrl" @change="handleImportExcel">
        <a-button type="primary" icon="import">导入</a-button>
      </a-upload>
      <a-dropdown v-if="selectedRowKeys.length > 0">
        <a-menu slot="overlay">
          <a-menu-item key="1" @click="batchDel"><a-icon type="delete"/>删除</a-menu-item>
        </a-menu>
        <a-button style="margin-left: 8px"> 批量操作 <a-icon type="down" /></a-button>
      </a-dropdown>
    </div>

    <!-- table区域-begin -->
    <div>
      <div class="ant-alert ant-alert-info" style="margin-bottom: 16px;">
        <i class="anticon anticon-info-circle ant-alert-icon"></i> 已选择 <a style="font-weight: 600">{{ selectedRowKeys.length }}</a>项
        <a style="margin-left: 24px" @click="onClearSelected">清空</a>
      </div>

      <a-table
        ref="table"
        size="middle"
        bordered
        rowKey="id"
        :columns="columns"
        :dataSource="dataSource"
        :pagination="ipagination"
        :loading="loading"
        :rowSelection="{selectedRowKeys: selectedRowKeys, onChange: onSelectChange}"
        @change="handleTableChange">

        <span slot="action" slot-scope="text, record">
          <a @click="handleEdit(record)">编辑</a>

          <a-divider type="vertical" />
          <a-dropdown>
            <a class="ant-dropdown-link">更多 <a-icon type="down" /></a>
            <a-menu slot="overlay">
              <a-menu-item>
                <a-popconfirm title="确定删除吗?" @confirm="() => handleDelete(record.id)">
                  <a>删除</a>
                </a-popconfirm>
              </a-menu-item>
            </a-menu>
          </a-dropdown>
        </span>

      </a-table>
    </div>
    <!-- table区域-end -->

    <!-- 表单区域 -->
    <userInfo-modal ref="modalForm" @ok="modalFormOk"></userInfo-modal>
  </a-card>
</template>

<script>
  import UserInfoModal from './modules/UserInfoModal'
  import { JeecgListMixin } from '@/mixins/JeecgListMixin'

  export default {
    name: "UserInfoList",
    mixins:[JeecgListMixin],
    components: {
      UserInfoModal
    },
    data () {
      return {
        description: '人员信息管理页面',
        // 表头
        columns: [
          {
            title: '#',
            dataIndex: '',
            key:'rowIndex',
            width:60,
            align:"center",
            customRender:function (t,r,index) {
              return parseInt(index)+1;
            }
           },
		   {
            title: '人员编号',
            align:"center",
            dataIndex: 'userNo'
           },
		   {
            title: '人员姓名',
            align:"center",
            dataIndex: 'userName'
           },
		   {
            title: '卡号',
            align:"center",
            dataIndex: 'cardCode'
           },
		   {
            title: '所属部门编号',
            align:"center",
            dataIndex: 'orgCode'
           },
		   {
            title: '职务编号',
            align:"center",
            dataIndex: 'dutyCode'
           },
		   {
            title: '入职日期',
            align:"center",
            dataIndex: 'entryTime'
           },
		   {
            title: '离职日期',
            align:"center",
            dataIndex: 'leaveTime'
           },
		   {
            title: '职称',
            align:"center",
            dataIndex: 'jobName'
           },
		   {
            title: '出生日期',
            align:"center",
            dataIndex: 'birthday'
           },
		   {
            title: '性别',
            align:"center",
            dataIndex: 'sex_dictText'
           },
		   {
            title: '证件名称',
            align:"center",
            dataIndex: 'credentialsName'
           },
		   {
            title: '名族',
            align:"center",
            dataIndex: 'nationalName'
           },
		   {
            title: '是否结婚',
            align:"center",
            dataIndex: 'isMarry_dictText'
           },
		   {
            title: '籍贯',
            align:"center",
            dataIndex: 'nativePlace'
           },
		   {
            title: '证件号码',
            align:"center",
            dataIndex: 'idCard'
           },
		   {
            title: '地址',
            align:"center",
            dataIndex: 'address'
           },
		   {
            title: '户口所在地',
            align:"center",
            dataIndex: 'residentPlace'
           },
		   {
            title: '备注',
            align:"center",
            dataIndex: 'remark'
           },

          {
            title: '操作',
            dataIndex: 'action',
            align:"center",
            scopedSlots: { customRender: 'action' },
          }
        ],
		url: {
          list: "/userInfo/userInfo/list",
          delete: "/userInfo/userInfo/delete",
          deleteBatch: "/userInfo/userInfo/deleteBatch",
          exportXlsUrl: "userInfo/userInfo/exportXls",
          importExcelUrl: "userInfo/userInfo/importExcel",
       },
    }
  },
  computed: {
    importExcelUrl: function(){
      return `${window._CONFIG['domianURL']}/${this.url.importExcelUrl}`;
    }
  },
    methods: {
     
    }
  }
</script>
<style scoped>
  @import '~@assets/less/common.less'
</style>